In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import requests
from datetime import datetime

#collecting data from arcgis website using request package
raw= requests.get("https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json")
raw_json = raw.json()
df = pd.DataFrame(raw_json["features"])

In [2]:
df.head()

,attributes,geometry
0,"{'OBJECTID': 1, 'Province_State': 'Abruzzo', '...","{'x': 13.398438230000068, 'y': 42.35122196000003}"
1,"{'OBJECTID': 2, 'Province_State': 'Acre', 'Cou...","{'x': -70.81199999999995, 'y': -9.023799999999..."
2,"{'OBJECTID': 3, 'Province_State': 'Adygea Repu...","{'x': 40.152042100000074, 'y': 44.69390060000006}"
3,"{'OBJECTID': 4, 'Province_State': 'Aguascalien...","{'x': -102.29159999999996, 'y': 21.88530000000..."
4,"{'OBJECTID': 5, 'Province_State': 'Aichi', 'Co...","{'x': 137.21162100000004, 'y': 35.035551000000..."

In [3]:
# Converting the .json data format to pandas dataframe
df_list = df["attributes"].tolist()
df_final = pd.DataFrame(df_list)
df_final.set_index("OBJECTID")
df_final = df_final[["Country_Region", "Province_State", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Last_Update"]]
df_final.head()

,Country_Region,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Last_Update
0,Italy,Abruzzo,42.351222,13.398438,3279,456,2312,1.592210e+12
1,Brazil,Acre,-9.023800,-70.812000,9642,259,5108,1.592210e+12
2,Russia,Adygea Republic,44.693901,40.152042,1340,12,796,1.592210e+12
3,Mexico,Aguascalientes,21.885300,-102.291600,1431,70,1008,1.592210e+12
4,Japan,Aichi,35.035551,137.211621,515,34,467,1.592210e+12

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Region  731 non-null    object
 1   Province_State  562 non-null    object
 2   Lat             718 non-null    float64
 3   Long_           718 non-null    float64
 4   Confirmed       731 non-null    int64
 5   Deaths          731 non-null    int64
 6   Recovered       731 non-null    int64
 7   Last_Update     729 non-null    float64
dtypes: float64(3), int64(3), object(2)
memory usage: 45.8+ KB

In [5]:
# Converting the last_update variable to proper timestamp
def convertTime(t):
    t = int(t)
    return datetime.fromtimestamp(t)

df_final = df_final.dropna(subset=["Last_Update"])
df_final["Province_State"].fillna(value="", inplace=True)

df_final["Last_Update"]= df_final["Last_Update"]/1000
df_final["Last_Update"] = df_final["Last_Update"].apply(convertTime)

df_final.head()

,Country_Region,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Last_Update
0,Italy,Abruzzo,42.351222,13.398438,3279,456,2312,2020-06-15 11:33:20
1,Brazil,Acre,-9.023800,-70.812000,9642,259,5108,2020-06-15 11:33:20
2,Russia,Adygea Republic,44.693901,40.152042,1340,12,796,2020-06-15 11:33:20
3,Mexico,Aguascalientes,21.885300,-102.291600,1431,70,1008,2020-06-15 11:33:20
4,Japan,Aichi,35.035551,137.211621,515,34,467,2020-06-15 11:33:20

In [6]:
# i wanna see how my home country is doing and also the analysis is centered around Qatar
df_final.loc[df_final['Country_Region'] == 'Qatar']

,Country_Region,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Last_Update
627,Qatar,,25.3548,51.1839,79602,73,56898,2020-06-15 11:33:20

In [7]:
total_confirmed = df_final["Confirmed"].sum()
total_recovered = df_final["Recovered"].sum()
total_deaths = df_final["Deaths"].sum()

In [8]:
print(total_confirmed)

7925237

In [9]:
print(total_recovered)

3783781

In [10]:
print(total_deaths)

433648

In [11]:
df_total = df_final.groupby("Country_Region", as_index=False).agg(
    {
        "Confirmed" : "sum",
        "Deaths" : "sum",
        "Recovered" : "sum"
    }
)
pd.set_option("max_rows", None)
print(df_total)

                       Country_Region  Confirmed  Deaths  Recovered
0                         Afghanistan      25527     476       5164
1                             Albania       1521      36       1044
2                             Algeria      10919     767       7606
3                             Andorra        853      51        781
4                              Angola        140       6         61
5                 Antigua and Barbuda         26       3         20
6                           Argentina      31577     833       9564
7                             Armenia      17064     285       6276
8                           Australia       7335     102       6851
9                             Austria      17109     677      16059
10                         Azerbaijan       9957     119       5583
11                            Bahamas        103      11         68
12                            Bahrain      18544      45      13197
13                         Bangladesh      87520    1171      18730
14                           Barbados         96       7         83
15                            Belarus      53973     308      30103
16                            Belgium      60029    9655      16589
17                             Belize         20       2         16
18                              Benin        470       7        228
19                             Bhutan         66       0         22
20                            Bolivia      18459     611       3113
21             Bosnia and Herzegovina       2893     163       2119
22                           Botswana         60       1         24
23                             Brazil     867624   43332     469141
24                             Brunei        141       2        138
25                           Bulgaria       3290     174       1730
26                       Burkina Faso        894      53        799
27                              Burma        261       6        167
28                            Burundi         85       1         45
29                         Cabo Verde        750       6        301
30                           Cambodia        128       0        125
31                           Cameroon       9864     276       5570
32                             Canada     100404    8218      60668
33           Central African Republic       2222       7        369
34                               Chad        850      73        720
35                              Chile     174293    3323     143704
36                              China      84335    4638      79483
37                           Colombia      48896    1670      19460
38                            Comoros        176       2        114
39                Congo (Brazzaville)        728      24        221
40                   Congo (Kinshasa)       4837     112        613
41                         Costa Rica       1715      12        752
42                      Cote d'Ivoire       5084      45       2505
43                            Croatia       2252     107       2134
44                               Cuba       2248      84       1948
45                             Cyprus        983      18        807
46                            Czechia      10024     330       7230
47                            Denmark      12393     597      11268
48                   Diamond Princess        712      13        651
49                           Djibouti       4465      43       2950
50                           Dominica         18       0         16
51                 Dominican Republic      22962     592      13320
52                            Ecuador      46751    3896      23064
53                              Egypt      44598    1575      11931
54                        El Salvador       3826      74       1912
55                  Equatorial Guinea       1306      12        200
56                            Eritrea         96       0         39
57                            Estonia       1974      69       1717
58                           Eswatini        490       4        249
59                           Ethiopia       3345      57        545
60                               Fiji         18       0         18
61                            Finland       7104     326       6200
62                             France     194153   29410      72982
63                              Gabon       3463      23       1024
64                             Gambia         28       1         24
65                            Georgia        879      14        704
66                            Germany     187518    8801     172089
67                              Ghana      11964      54       4258
68                             Greece       3121     183       1374
69                            Grenada         23       0         22
70                          Guatemala       9845     384       1886
71                             Guinea       4532      25       3234
72                      Guinea-Bissau       1460      15        153
73                             Guyana        159      12         99
74                              Haiti       4309      73         24
75                           Holy See         12       0         12
76                           Honduras       8858     312        967
77                            Hungary       4076     563       2485
78                            Iceland       1810      10       1796
79                              India     332424    9520     169798
80                          Indonesia      38277    2134      14531
81                               Iran     187427    8837     148674
82                               Iraq      20209     607       8121
83                            Ireland      25303    1706      22698
84                             Israel      19121     302      15389
85                              Italy     236989   34345     176370
86                            Jamaica        617      10        420
87                              Japan      17375     927      15514
88                             Jordan        961       9        682
89                         Kazakhstan      14809      77       9188
90                              Kenya       3594     103       1253
91                       Korea, South      12121     277      10730
92                             Kosovo       1437      32        928
93                             Kuwait      35920     296      26759
94                         Kyrgyzstan       2372      27       1813
95                               Laos         19       0         19
96                             Latvia       1097      28        845
97                            Lebanon       1446      32        868
98                            Lesotho          4       0          2
99                            Liberia        458      32        219
100                             Libya        454      10         63
101                     Liechtenstein         82       1         55
102                         Lithuania       1773      76       1429
103                        Luxembourg       4070     110       3929
104                        MS Zaandam          9       2          0
105                        Madagascar       1272      10        367
106                            Malawi        547       6         69
107                          Malaysia       8453     121       7346
108                          Maldives       2035       8       1311
109                              Mali       1809     104       1088
110                             Malta        649       9        603
111                        Mauritania       1783      87        332
112                         Mauritius        337      10        325
113                            Mexico     146837   17141     107298
114                           Moldova      11740     406       6623
115                            Monaco         99       4         93
116                          Mongolia        197       0        108
117                        Montenegro        325       9        315
118                           Morocco       8793     212       7765
119                        Mozambique        583       3        151
120                           Namibia         32       0         17
121                             Nepal       5760      19        974
122                       Netherlands      48990    6078        182
123                       New Zealand       1504      22       1482
124                         Nicaragua       1464      55        953
125                             Niger        980      66        885
126                           Nigeria      16085     420       5220
127                   North Macedonia       4057     188       1710
128                            Norway       8631     242       8138
129                              Oman      23481     104       8454
130                          Pakistan     144478    2729      53721
131                            Panama      21418     437      13766
132                  Papua New Guinea          8       0          8
133                          Paraguay       1289      11        650
134                              Peru     229736    6688     115579
135                       Philippines      25930    1088       5954
136                            Poland      29392    1247      14383
137                          Portugal      36690    1517      22669
138                             Qatar      79602      73      56898
139                           Romania      21999    1410      15719
140                            Russia     536484    7081     284021
141                            Rwanda        582       2        332
142             Saint Kitts and Nevis         15       0         15
143                       Saint Lucia         19       0         18
144  Saint Vincent and the Grenadines         27       0         25
145                        San Marino        694      42        520
146             Sao Tome and Principe        661      12        177
147                      Saudi Arabia     127541     972      84720
148                           Senegal       5090      60       3344
149                            Serbia      12310     254      11511
150                        Seychelles         11       0         11
151                      Sierra Leone       1169      51        680
152                         Singapore      40818      26      29589
153                          Slovakia       1548      28       1410
154                          Slovenia       1495     109       1359
155                           Somalia       2618      88        577
156                      South Africa      70038    1480      38531
157                       South Sudan       1693      27         49
158                             Spain     243928   27136     150376
159                         Sri Lanka       1889      11       1342
160                             Sudan       7220     459       2610
161                          Suriname        208       3          9
162                            Sweden      51614    4874          0
163                       Switzerland      31117    1938      28800
164                             Syria        177       6         74
165                           Taiwan*        443       7        431
166                        Tajikistan       5035      50       3409
167                          Tanzania        509      21        183
168                          Thailand       3135      58       2987
169                       Timor-Leste         24       0         24
170                              Togo        531      13        299
171               Trinidad and Tobago        123       8        109
172                           Tunisia       1096      49        998
173                            Turkey     178239    4807     151417
174                                US    2094069  115732     561816
175                            Uganda        696       0        240
176                           Ukraine      32536     911      14771
177              United Arab Emirates      42294     289      27462
178                    United Kingdom     297342   41783       1283
179                           Uruguay        848      23        788
180                        Uzbekistan       5103      19       3943
181                         Venezuela       2978      25        835
182                           Vietnam        334       0        323
183                West Bank and Gaza        492       3        415
184                    Western Sahara          9       1          8
185                             Yemen        728     164         53
186                            Zambia       1358      11       1122
187                          Zimbabwe        383       4         54

In [12]:
#making a list of top 10 'confirmed' countries
df_top10 = df_total.nlargest(10, "Confirmed")
top10_countries_1 = df_top10["Country_Region"].tolist()
top10_confirmed = df_top10["Confirmed"].tolist()

In [14]:
#making a list of top 10 'recovered' countries
df_top10 = df_total.nlargest(10, "Recovered")
top10_countries_2 = df_top10["Country_Region"].tolist()
top10_recovered = df_top10["Recovered"].tolist()

In [15]:
#making a list of top 10 'deaths' countries
df_top10 = df_total.nlargest(10, "Deaths")
top10_countries_3 = df_top10["Country_Region"].tolist()
top10_deaths = df_top10["Deaths"].tolist()